body {font-family: 'JetBrains Mono', monospace; background: #2C2B3D; color: #fff; height: 100VH; }

.page { padding: 71px; margin: 0 auto; width:  1280px;}


nav {width: 1083px;height: 30px ; display: flex;
    align-items: center;
    justify-content: space-between; margin-bottom: 100px;font-size: 14px;}

h1 { font-size: 36px; margin-bottom: 51px;}

p{ font-family: 'Open Sans', sans-serif; font size: 16px; color: #C2C2C2;}

main { width:1092px; height: 283px; display: flex;
    text-align: center; justify-content:space-between; gap: 77px; margin-bottom: 157px;}

main img { width: 401px; height: 283px;}
    
    ul{ list-style: none;  display: flex; gap: 48px; }  
    ul li a { text-decoration: none; color: #fff}
    
    span{ color: #00BFA6;}
    
    footer p { font-family: 'JetBrains Mono', monospace;
            text-align: center; margin-top: 27px; text-decoration: none;}
    footer p a { text-decoration: none;color: #fff;}

    

#line { border: 1px solid #00BFA6; width: 568px; margin-bottom: 27px; margin: auto;}

#cadeado { position: fixed; padding-bottom: 20; padding-left: 20;}

 